
#container {
    height: 1700px;
    position: relative;
    background: url("img/website-background.jpg") no-repeat center center fixed
}

a {
    text-decoration: none;
    color: #C0FFFF;
}

a:visited {
    color: #A0A0A0;
}

p {
    text-align: center;
}

#navbar {
    display: flex;
    text-align: center;
    width: 100%;
    min-width: 600px;
    height: 100px;
    /*background-color: rgba(50, 50, 50, 0.8);*/
    top: 0px;
    z-index: 999;
}

#story {
    text-align: center;
    background-color: rgba(80, 80, 80, 0.3);
    color: #FFF;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    height: 90px;
    width: 200px;
    font-size: 30px;
    line-height: 90px;
}

#intro {
    /*background-color: blue;*/
    /*margin-top: 100px;*/
    text-align: center;
    color: #EEE;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#projects {
    /*background-color: red;*/
    height: 800px;
    position: relative;
    border: 10px solid;
}

#menu {
    height: 560px;
    /*width: 80%;
    left: 8.5%;*/
    position: absolute;
    ;
    /*background-color: purple;*/
    overflow: scroll;
    color: #EEE;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.week {
    height: 200px;
    width: 200px;
    /*background-color: green;*/
    display: inline;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 10px solid white;*/
    margin: 0 35px;
    margin-top: 25px;
}

.week img {
    height: 200px;
    width: 200px;
    margin-top: 25px;
}

#contact {
    /*background-color: grey;*/
    text-align: center;
    color: #EEE;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#contact img {
    height: 250px;
    width: 250px;
    margin: 0 100px;
}

body {
    background-color: black;
}
